.loader {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hide {
    display: none;
}

.loader__circle {
    width: 200px;
    height: 200px;
    background-color: blue;

    animation: rolling 2s infinite ease-in-out;
}

.download.hide {
    display: none;
}

@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}